body{
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 50px;
}

button, .btn-submit{
    all: unset;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
}